html, body {
    background: lightsteelblue;
    font-family: sans-serif;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    border-spacing: 15px;

    background: seashell;
}

th {
    background-color: cadetblue;
}
